include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/pigion *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/pigion/migration *.ini *.py *.mako
recursive-include ckanext/pigion/public *.*
